# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.settings/
.project
.pydevproject

# Logs
logs/
!logs/.gitkeep

# Backups
backup/
!backup/.gitkeep

# CSV import/export data
data/csv/*
data/excel/*
data/archive/*
data/backup/*
!data/csv/.gitkeep
!data/excel/.gitkeep
!data/archive/.gitkeep
!data/backup/.gitkeep

# Test output
test/

# Zip archives
*.zip
/.pytest_cache/
